# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Linux specific
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/generated_plugins.cmake
/linux/flutter/ephemeral

# Coverage reports
coverage/
*.lcov

# Firebase config files
google-services.json
GoogleService-Info.plist
firebase_options.dart

# Environment variables and secrets
.env
.env.*
*.env.dart

# Fastlane specific
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# iOS specific
**/ios/.generated/
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# MacOS specific
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.*
**/macos/Pods/
**/macos/Flutter/ephemeral
**/macos/*.mode1v3
**/macos/*.mode2v3
**/macos/*.moved-aside
**/macos/*.pbxuser
**/macos/*.perspectivev3
**/macos/**/*sync/
**/macos/**/.sconsign.dblite
**/macos/**/.tags*
**/macos/**/.vagrant/
**/macos/**/DerivedData/
**/macos/**/Icon?
**/macos/**/Pods/
**/macos/**/.symlinks/
**/macos/**/profile
**/macos/**/xcuserdata
**/macos/.last_build_id

# Web related
lib/generated_plugin_registrant.dart
web/firebase-messaging-sw.js

# Mason related
.mason/
mason-lock.json
